<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border-radius: 10px; /* Adding border-radius for curved edges */
      border: 2px solid black; /* Adding a black border */
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
    }
  </style>
</head>
<body>
  <h1>Generated Advice</h1>
  <p>{{ advice }}</p>
</body>
</html>
